@import url("../fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*:focus {
  outline: none;
}

.expandable {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
  border: 2px solid #c9d1d59a;
}

.expand-toggle {
  background: transparent;
  margin-bottom: 10px;
  border: transparent;
  border-radius: 0px;
}

.expand-toggle:hover {
  border: 2px solid #7f8486;
  border-radius: 0px;
}

.expand-toggle:active {
  border: 2px solid #7f8486;
  border-radius: 0px;
}

.description-text {
  color: #c9d1d5af;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}

.audio-player {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 97%;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  padding: 15px;
  padding-bottom: 0px;
  /* border: 2px solid #c9d1d59a; */
}

.cover {
  display: flex;
  width: 70px;
}

.mname-div {
  display: flex;
  position: absolute;
  left: 11%;
  justify-content: center;
  align-items: center;
  width: 13%;
}

.music-name {
  font-family: "Unageo", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  color: #c9d1d59a;
  /* width: 20% !important; */
}

div:audio {
  width: 0% !important;
}

.controls {
  display: flex;
  position: absolute;
  left: 25%;
  width: 73%;
  align-items: center;
  justify-content: center;
  font-family: "Unageo", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  color: #c9d1d59a;
  gap: 20px;
  /* border: 2px solid red; */
}

.play-button {
  display: flex;
  position: absolute;
  left: 3%;
  width: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  font-size: inherit;
  text-align: center;
  background: transparent;
  color: #c9d1d59a;
  border: 2px solid #c9d1d59a;
  border-radius: 0px;
  transition: 0.3s ease-in-out;
}

.play-button:hover {
  color: #c9d1d5;
  border: 2px solid #c9d1d5;
}

.seek {
  display: flex;
  position: absolute;
  left: 17%;
  width: 40%;
}

.time {
  display: flex;
  position: absolute;
  left: 60%;
  width: 13%;
}

.volume {
  display: flex;
  position: absolute;
  left: 80%;
  width: 20%;
}

/* ######################################### SLIDERS ######################################### */

.audio-player input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  align-items: center;
}
.audio-player input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px; /* Height of the thumb */
  width: 20px; /* Width of the thumb */
  border-radius: 50%; /* Make it circular */
  background: #656c6f;
  cursor: pointer;
  border: 2px solid #c9d1d5;
  transform: translateY(-7px);
  user-select: none;
}

.audio-player input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  height: 16px; /* Height of the thumb */
  width: 16px; /* Width of the thumb */
  border-radius: 50%; /* Make it circular */
  background: #656c6f;
  cursor: pointer;
  border: 2px solid #c9d1d5;
}

.audio-player input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px; /* Height of the track */
  background: #c9d1d58a;
  border-radius: 5px; /* Slightly rounded edges */
}

.audio-player input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px; /* Height of the track */
  background: #c9d1d58a;
  border-radius: 5px; /* Slightly rounded edges */
}

.audio-player input[type="range"]::-webkit-progress-value {
  width: 100%;
  height: 3px; /* Height of the track */
  background-color: olive;
  border-radius: 5px; /* Slightly rounded edges */
}

::-webkit-progress-inner-value {
  background-color: olive;
  background: orange;
}

::-webkit-progress-bar {
  background-color: green;
  background: red;
}

.audio-player input[type="range"]::-moz-range-progress {
  width: 100%;
  height: 3px; /* Height of the track */
  background: #c9d1d5;
  border-radius: 5px; /* Slightly rounded edges */
}

/* ######################################## PHONE ####################################### */

@media (max-width: 470px) {
  .audio-player {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 240px;
    align-items: flex-start;
  }

  .cover {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 35%;
  }

  .mname-div {
    position: absolute;
    top: 5px;
    left: 50%;
    width: 40%;
  }

  .controls {
    left: 2.5%;
    width: 90%;
    bottom: 30%;
  }

  .play-button {
    top: -120px;
    left: 55%;
    width: 40%;
  }

  .seek {
    left: 5%;
    width: 90%;
  }

  .time {
    top: -55px;
    left: 58%;
    width: 40%;
  }

  .volume {
    top: 25px;
    left: 40%;
    width: 55%;
  }
}
