@import url("./fonts.css");

* {
  text-align: center;
}

.background {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  /* height: 100vh; */
  height: -webkit-fill-available;
  justify-content: center;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  /* border: 5px solid red; */
}

.rive {
  display: flex;
  position: absolute;
  /* top: 50vh; */
  width: 60%;
  height: 60%;
  filter: opacity(50%);
}

.container h1 {
  pointer-events: auto;
  color: #c9d1d5;
  /* color: #ff3a55; */
  font-family: "Unageo", sans-serif;
  /* font-family: "Banteng", sans-serif; */
  font-size: 6rem;
  text-align: center;
  letter-spacing: 0.5rem;
}

.container h2 {
  pointer-events: auto;
  color: #c9d1d59a;
  font-family: "Unageo", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  /* word-spacing: 0.2rem; */
  margin-top: -40px;
}

.navigation {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  /* border: 5px solid red; */
}

.navButton {
  display: flex;
  color: #4a4e52;
  background-color: #c9d1d5;
  padding: 10px;
  border-radius: 10px;
  z-index: 3;
}

/* ###################################### MEDIA ####################################### */

@media (max-width: 1080px) {
  .container h1 {
    margin-bottom: 20px;
    font-size: 4rem;
  }
  .container h2 {
    font-size: 1rem;
  }
}
